.Diary {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.Diary input {
  width: 500px;
  padding: 10px;
  margin-bottom: 20px;
}

.Diary button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

.DiaryList {
  border: 1px solid gray;
  padding: 20px;
  margin-top: 20px;
}

.DiaryList h2 {
  text-align: center;
}

.DiaryItem {
  background-color: gray;
  margin-bottom: 10px;
  padding: 20px;
  width: 300px;
}

.DiaryItem video {
  width: 300px;
  height: 300px;
}